#anho .VirtualizedSelectFocusedOption {
  background-color: #375a80;
  color: white;
}
#anho {
    color: black;
}

#semana .VirtualizedSelectFocusedOption {
  background-color: #375a80;
  color: white;
}
#semana {
    color: black;
}

#noticia_c0 .VirtualizedSelectFocusedOption {
  background-color: #375a80;
  color: white;
}
#noticia_c0 {
    color: black;
}
